@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*, *::before, *::after {
  margin:0;
  padding:0;
  box-sizing: border-box;
  /* font-family: 'Roboto', sans-serif; */
}

input[type=text], input[type=button], button {
  -moz-appearance:none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
}

h1 { 
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.row {
  background: #f8f9fa;
  margin-top: 20px;
}

.col {
  border: solid 1px #6c757d;
  padding: 10px;
}

button {
  text-transform: uppercase;
  text-decoration: bold;
}

.box {
  width: 50px;
  height: 50px;
  border: 1px solid #2d2d2d;
}

.guess {
  display: flex;
  gap: 0.25rem;
}

#screen {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 15px;
  
  /* border:2px solid #ddd; */
  /* width: max-content; */
}

#message {
  /* display: none; */
  opacity: 0;
  position:absolute;
  border-radius:3px;
  padding: .5rem;
  background-color: #6e0202;
  color: white;
  width: max-content;
}

.fade {
  -webkit-animation: errorMessage 5s;
  -moz-animation: errorMessage 5s;
  animation: errorMessage 5s;
  /* transition: opacity 10s ease-out; */
  /* opacity: 0; */
}

@-webkit-keyframes errorMessage {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes errorMessage {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@keyframes errorMessage {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

#keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
  margin-top: 20px;
  margin-bottom: 1.5rem;
}

button {
  /* padding: .4rem; */
  padding: .5rem;
  padding-top:1rem;
  padding-bottom:1rem;
}

#answer {
  margin-top: .2rem;
}

#answer div {
  background-color: #ddd;
  border:2px solid;
}

hr {
  color: black;
  height: 2px;
  border-bottom: 2px solid black;
}

#header {
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 1rem;
 margin: 0.5rem;
}

.box {
  display:flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 32px;
  font-family: 'Roboto', sans-serif;
  border-radius: 3px;
}


#new-game {
  width: 150px;
}

.dark-box {
  border-color: white !important;
}

.dark-bg {
  background-color: #2d2d2d;
}

.dark-fg {
  color: white;
}

#new-game button {width: 100%}

#message {
  margin: 0 auto;
  /* margin-top: 10px; */
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#clone {
  display: none !important;
}

button {
  transition: all .2s ease-in-out;
  font-family: monospace;
}

button:active {
	transform: scale(1.1);
	transition: .1s;
}

#new-game-key {
  padding-top: .4rem;
  padding-bottom: .4rem;
}


@media screen and (min-width: 800px) {
  button {
    padding: 1rem;
  }
  #new-game {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  

  #new-game button {
    width: 250px;
  }

  #stats, #mode {
    padding:.4rem;
  }

  #header {
    gap: 10rem;
  }
}
